<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Freedom Document Supply Request</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<style type="text/css"> 
		     body { margin-left: 0px; margin-top: 10px; margin-right: 0px; margin-bottom: 0px; background-color: #CCCCCC; }
			.style1 { font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-style: italic; font-size: 18px; color: #666666; }
			.style4 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; }
			.style5 {font-size: 12px; font-family: Arial, Helvetica, sans-serif;}
			.style7 {font-size: 14px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; color: #666666; }
			.style8 {color: #CC0000}
			.style9 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color:#CC0000; }
	</style>
    
    </head>
	<body>
		<table width="90%" border="0" align="center" cellpadding="2" cellspacing="0" bgcolor="#ffffff">
			<tr>
				<td><table width="100%" cellpadding="0" cellspacing="2" border="0">
						<tr>
							<td width="650"><table width="100%" border="0" cellspacing="0" cellpadding="2">
							  <tr>
							    <td valign="bottom" width="27%"><div align="left"><img src="http://www.freedomprofitrecovery.com/images/freedomprofitrecovery-logo.gif" alt="Freedom Profit Recovery"
											 width="239" height="89" /></div></td>
							    <td width="73%" align="right"><span class="style1">&nbsp;Support Request Confirmation &nbsp;&nbsp;</span></td>
						      </tr>
							  <tr>
							    <td colspan="2" valign="bottom" style="background-color:#e1e1e1; height:2px;"></td>
						      </tr>
						    </table></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><table width="98%" border="0" align="center" cellpadding="2" cellspacing="0">
									
									<tr>
										<td>
                                        	<p class="style4">
											Thank you! We have received your Support Request for 
												the device(s) detailed below.&nbsp; So that we can insure a prompt response, please 
												confirm that the information in the <em>Request Summary</em> section (below) 
												is correct.</p>
											<p class="style9">Service Requests are received and submitted immediately.  Supply requests are processed immediately and in most instances should arrive within 3-5 business days. Please contact us directly at&nbsp; 1-866-217-6639 (TOLL FREE) if you have any questions or to make any change to this request. </p>
											<p class="style4">&nbsp;</p>
										</td>
									</tr>
									<tr>
										<td><table width="100%" border="0" cellspacing="2" cellpadding="0">
										    <tr>
													<td colspan="4" bgcolor="#e1e1e1"><span class="style7">&nbsp;Request Information </span></td>
												</tr>
												<tr>
													<td width="33%"><div align="right" class="style5">Client:&nbsp;</div>
													</td>
													<td width="67%" colspan="3"><span class="style4">_#CLIENTNAME#_</span></td>
												</tr>
											 
											  <tr>
													<td><div align="right" class="style5">Requested By:&nbsp;</div>
													</td>
													<td colspan="3"><span class="style4"> _#REQUESTOR#_&nbsp;(_#EMAIL#_) </span></td>
												</tr>
												<tr>
													<td height="14"><div align="right" class="style5">Requested On:&nbsp;</div>
													</td>
													<td colspan="3" height="14"><span class="style4">_#DATETIME#_</span></td>
												</tr>
												<tr>
													<td><div align="right" class="style5">Requestor Telephone: &nbsp;</div>
													</td>
													<td colspan="3"><span class="style4">_#TELEPHONE#_</span></td>
												</tr>
												
												 
												<tr>
													<td><div align="right" class="style5"></div>
													</td>
													<td colspan="3">&nbsp;</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>
                                            <table id="Table2" cellspacing="2" cellpadding="0" width="100%" border="0">
                                              <tr>
                                                <td bgcolor="#e1e1e1" colspan="6"><span class="style7">&nbsp;Request Summary</span></td>
                                              </tr>
                                              <tr style="padding-bottom:20px;">
                                                <td bgcolor="#ffffff" colspan="6"><span class="style5">&nbsp;Below is a listing of the submitted requests:</span></td>
                                              </tr>
                                                <tr><td class="style5" width="15%" style="font-weight:bold; text-decoration:underline; vertical-align:bottom;">Ticket #</td>
                                                    <td class="style5" width="10%" style="font-weight:bold; text-decoration:underline; vertical-align:bottom;">FPR ID#</td>
                                                    <td class="style5" width="20%" style="font-weight:bold; text-decoration:underline; vertical-align:bottom;">Address</td>
                                                    <td class="style5" width="5%" style="font-weight:bold; text-decoration:underline; vertical-align:bottom;">Floor</td>
                                                    <td class="style5" width="10%" style="font-weight:bold; text-decoration:underline; vertical-align:bottom;">User</td>
                                                    <td class="style5" width="40%" style="font-weight:bold; text-decoration:underline; vertical-align:bottom;">Comments</td></tr>
                                                 <div class="style5">_#CALLLIST#_</div>
                                                    
                                            </table>
                                        </td>
									</tr>
									<tr>
									  <td>&nbsp;</td>
							  </tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
