<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Freedom Document Supply Request</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<style type="text/css"> 
		     body { margin-left: 0px; margin-top: 10px; margin-right: 0px; margin-bottom: 0px; background-color: #CCCCCC; }
	.style1 { font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-style: italic; font-size: 18px; color: #666666; }
	.style4 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; }
	.style5 {font-size: 12px; font-family: Arial, Helvetica, sans-serif;}
	.style7 {font-size: 14px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; color: #666666; }
	.style8 {color: #CC0000}
	--></style></head>
	<body>
		<table width="650" border="0" align="center" cellpadding="2" cellspacing="0" bgcolor="#ffffff">
			<tr>
				<td><table width="650" cellpadding="0" cellspacing="2">
						<tr>
							<td width="650"><table width="100%" border="0" cellspacing="0" cellpadding="2">
							  <tr>
							    <td valign="bottom" width="27%"><div align="right"><img src="http://www.freedomprofitrecovery.com/images/freedomprofitrecovery-logo.gif" alt="Freedom Profit Recovery"
											 width="239" height="89" /></div></td>
							    <td width="73%"><span class="style1">&nbsp;_#SERVICESUPPLY#_ 
							      Request Confirmation </span></td>
						      </tr>
							  <tr>
							    <td colspan="2" valign="bottom" style="background-color:#e1e1e1; height:2px;"></td>
						      </tr>
						    </table></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><table width="98%" border="0" align="center" cellpadding="2" cellspacing="0">
									<tr>
										<td width="100%" style="height:30px;">&nbsp;</td>
									</tr>
									<tr>
										<td><p class="style4">
												Thank you! We have received your request for supplies&nbsp; for 
												the device detailed below.&nbsp; So that we can insure a prompt response, please 
												confirm that the information in the <em>Device Information</em> section below 
												is correct.</p>
											<p class="style4"><span class="style8">&nbsp;We will submit your supply request immediately and in most instances supplies should be arriving from&nbsp;_#SUPPLYPROVIDER#_ within 3-5 business days. </span></p>
											<p class="style4"><span class="style8">Please call us directly at&nbsp; 1-866-217-6639 (TOLL FREE) if you have any questions or to make any change to this request. </span></p>
										</td>
									</tr>
									<tr>
										<td><img src="http://www.freedomprofitrecovery.com/images/TRANSP.gif" width="10"
												height="10">
											<table width="100%" border="0" cellspacing="2" cellpadding="0">
												<tr>
													<td colspan="4" bgcolor="#e1e1e1"><span class="style7">&nbsp;Request Information </span></td>
												</tr>
												<tr>
												  <td><div align="right" class="style5">Client:&nbsp;</div></td>
												  <td colspan="3"><span class="style4">_#CLIENTNAME#_</span></td>
											  </tr>
												<tr>
													<td width="33%"><div class="style5" align="right">Issue #:&nbsp;</div></td>
													<td width="67%" colspan="3"><span class="style4">_#ISSUEID#_</span></td>
												</tr>
												<tr>
													<td><div align="right" class="style5">Requested By:&nbsp;</div>
													</td>
													<td colspan="3"><span class="style4"> _#REQUESTOR#_&nbsp;(_#EMAIL#_) </span></td>
												</tr>
												<tr>
													<td height="14"><div align="right" class="style5">Requested On:&nbsp;</div>
													</td>
													<td colspan="3" height="14"><span class="style4">_#DATETIME#_</span></td>
												</tr>
												<tr>
													<td><div align="right" class="style5">Requestor Telephone: &nbsp;</div>
													</td>
													<td colspan="3"><span class="style4">_#TELEPHONE#_</span></td>
												</tr>
												<tr>
													<td><div align="right" class="style5">Do You Have Any Supplies?:&nbsp;</div>
													</td>
													<td colspan="3"><span class="style4"><SPAN class="style4"><SPAN class="style4">_#HAVESUPPLIES#_</SPAN>
															</SPAN>
														</span></td>
												</tr>
												<tr>
													<td valign="top"><div align="right"><span class="style5">Supplies Requested:&nbsp;</span></div>
													</td>
													<td colspan="3"><table width="37%" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td width="45%"><div align="right"><span class="style5">Black:&nbsp;</span></div>
																</td>
																<td width="55%"><div align="center"><span class="style4">_#BLK#_</span></div>
																</td>
															</tr>
															<tr>
																<td><div align="right"><span class="style5">Cyan:&nbsp;</span></div>
																</td>
																<td><div align="center"><span class="style4">_#CYAN#_</span></div>
																</td>
															</tr>
															<tr>
																<td><div align="right"><span class="style5">Magenta:&nbsp;</span></div>
																</td>
																<td><div align="center"><span class="style4">
																			<DIV align="center"><SPAN class="style4">_#MAG#_</SPAN></DIV>
																		</span></div>
																</td>
															</tr>
															<tr>
																<td><div align="right"><span class="style5">Yellow:&nbsp;</span></div>
																</td>
																<td><div align="center"><span class="style4">
																			<DIV align="center"><SPAN class="style4">_#YEL#_</SPAN></DIV>
																		</span></div>
																</td>
															</tr>
														</table>
													</td>
												</tr>
												<tr>
													<td><div align="right" class="style5">Issue Summary:&nbsp;</div>
													</td>
													<td colspan="3"><span class="style4"><SPAN class="style4">_#COMMENTS#_ </SPAN>
														</span></td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>
											<TABLE id="Table1" cellSpacing="2" cellPadding="0" width="100%" border="0">
												<TR>
													<TD bgColor="#e1e1e1" colSpan="4"><SPAN class="style7">&nbsp;Device Information</SPAN></TD>
												</TR>
												<TR>
													<TD width="18%"><div class="style5" align="right">Device ID:&nbsp;</div></TD>
													<TD width="34%"><SPAN class="style4">_#DEVICEID#_</SPAN></TD>
													<TD width="17%">
														<DIV class="style5" align="right">Location Name:&nbsp;</DIV>
													</TD>
													<TD width="31%"><SPAN class="style4">_#LOCATION#_</SPAN></TD>
												</TR>
												<TR>
													<TD><div class="style5" align="right">Serial Number:&nbsp;</div></TD>
													<TD><span class="style4">_#SERIAL#_</span></TD>
													<TD>
														<DIV class="style5" align="right">Address:&nbsp;</DIV>
													</TD>
													<TD><SPAN class="style4">_#ADDRESS#_</SPAN></TD>
												</TR>
												<TR>
													<TD>
														<DIV class="style5" align="right">Model:&nbsp;</DIV>
													</TD>
													<TD><SPAN class="style4">_#MODEL#_</SPAN></TD>
													<TD>
														<DIV class="style5" align="right">City, State, Zip:&nbsp;</DIV>
													</TD>
													<TD><SPAN class="style4">_#CITYSTATEZIP#_ </SPAN></TD>
												</TR>
												<TR>
													<TD><div class="style5" align="right">Device Type:&nbsp;</div></TD>
													<TD><span class="style4">_#DEVICETYPE#_</span></TD>
													<TD><div class="style5" align="right"><span lang="en-us" xml:lang="en-us">User</span>:&nbsp;</div></TD>
													<TD><span class="style4">_#USER#_</span></TD>
												</TR>
												<TR>
													<TD><div class="style5" align="right">Device Status:&nbsp;</div></TD>
													<TD><span class="style4">_#DEVICESTATUS#_</span></TD>
													<TD>
														<DIV class="style5" align="right"><span lang="en-us">Floor</span>:&nbsp;</DIV>
													</TD>
													<TD><SPAN class="style4">_#FLOOR#_</SPAN></TD>
												</TR>
												<TR>
													<TD>&nbsp;</TD>
													<TD>&nbsp;</TD>
													<TD><div class="style5" align="right">Dept:</div></TD>
													<TD><span class="style4">_#DEPARTMENT#_</span></TD>
												</TR>
											</TABLE>
										</td>
									</tr>
									 
										<tr>
											<td valign="top">&nbsp;</td>
										</tr>
									 
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
