<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CoFreedomEntities" connectionString="metadata=res://*/RemoteData.coFreedomEntities.csdl|res://*/RemoteData.coFreedomEntities.ssdl|res://*/RemoteData.coFreedomEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.22;initial catalog=CoFreedom;user id=globalview;password=TexasHeat101!~#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- <add name="GlobalViewEntities" connectionString="metadata=res://*/RemoteData.GlobalViewModel.csdl|res://*/RemoteData.GlobalViewModel.ssdl|res://*/RemoteData.GlobalViewModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FPRVM3\SQLEXPRESS;initial catalog=GlobalView;persist security info=True;user id=globalview;password=TexasHeat101!~#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
    <add name="GlobalViewEntities" connectionString="Data Source=localhost;Initial Catalog=GlobalView;Integrated Security=true;" providerName="System.Data.EntityClient" />
    <add name="CustomerPortalEntities" connectionString="metadata=res://*/RemoteData.CustomerService.csdl|res://*/RemoteData.CustomerService.ssdl|res://*/RemoteData.CustomerService.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FPRVM3;initial catalog=CustomerPortal;persist security info=True;user id=globalview;password=TexasHeat101!~#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RevisionDataEntities" connectionString="metadata=res://*/RemoteData.RevisionDataModel.csdl|res://*/RemoteData.RevisionDataModel.ssdl|res://*/RemoteData.RevisionDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.23;initial catalog=RevisionData;persist security info=True;user id=globalview;password=TexasHeat101!~#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PeriodHistoryConnection" connectionString="server=192.168.10.23;Database=RevisionData;uid=sa;password=Freedom123*;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>