<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://globalview.io/GVWebapi</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>globalview.io:81</MSDeployServiceURL>
    <DeployIisAppPath>Default Site/GVWebapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>gvdeveloper</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CoFreedomEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GVWebapi.RemoteData.CoFreedomEntities, GVWebapi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GlobalViewEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GVWebapi.RemoteData.GlobalViewEntities, GVWebapi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CustomerPortalEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GVWebapi.RemoteData.CustomerPortalEntities, GVWebapi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RevisionDataEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GVWebapi.RemoteData.RevisionDataEntities, GVWebapi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PeriodHistoryConnection" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GVWebapi.RemoteData.RevisionDBContext, GVWebapi" MigrationConfiguration="GVWebapi.Migrations.Configuration, GVWebapi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CoFreedomEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CustomerPortalEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GlobalViewEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PeriodHistoryConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RevisionDataEntities-Web.config Connection String" />
  </ItemGroup>
</Project>